.hero-wrapper {
    width: 100%;
    height: 768px;

    display: flex;
    justify-content: flex-end;
}

.hero {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero h1 {
    text-align: start;
    font-size: 64px;
    margin-top: 0px;
    background: #ff6055;
    background: linear-gradient(90deg, #ff6055 0%, #ff4438 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h4 {
    margin-bottom: 40px;
    color: #535353;
}

.hero button {
    width: 200px;
    height: 60px;

    font-size: 24px;
    font-weight: bold;

    border-radius: 20px;
    border: none;

    background: rgb(230, 105, 105);
    background: linear-gradient(135deg, rgb(230, 105, 105) 0%, #ff4438 100%);
    color: white;
}

.hero-img-wrapper {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-wrapper img {
    width: 70%;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .hero-wrapper {
        width: 100%;
        height: 100vh;
    
        display: flex;
        justify-content: center;
    }

    .hero {
        width: 80%;
        z-index: 10;

        justify-content: flex-start;
        margin-top: 30%;
    }

    .hero-img-wrapper {
        width: 100%;
        height: 100%;
    
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;
        overflow: hidden;
    }

    .hero-img-wrapper img {
        width: 100vh;
        position: absolute;
        height: 100vh;
        margin-left: 50%;
        overflow: hidden;
        opacity: 20%;
    }
}